extends layout.pug
append head
  link(rel="stylesheet", href="../stylesheets/articles.css")
  script(src="../javascripts/ajax.js")
  script(src="../routes/comments.js")
block content
  body
  div.container
    div
      h1 #{article.title}
    div
      h6 Written by: #{article.User.firstName} #{article.User.lastName}
    div
      img(src=article.image)
    div
      p #{article.content}
    div.comment-container
      form.comment-form
        input(type="string", value="", placeholder="comment")#comment
        input(type="submit")#comment-button
    div.saltsContainer
      p.saltCount
      form.saltForm
        input(type="submit", value="", class="salt")
    div
      ul.comment-list
        each comment in comments
          li= comment.content
