extends layout.pug
append head 
  link(rel="stylesheet", href="../stylesheets/articles.css")
  script(src="../javascripts/getSaltCount.js") 
block content
  body
  div.container
    div
      h1 #{article.title}
    div
      h6 Written by: #{article.User.firstName} #{article.User.lastName}
    div
      img(src=article.image)
    div
      p #{article.content}
    div.saltsContainer
      p.saltCount 
      form.saltForm
        input(type="submit", value="", class="salt") 
    div
      ul
        each comment in comments
          li= comment.content
