extends layout
append head
  script(src="/javascripts/index.js" type="module" defer)
  link(rel='stylesheet' href='/stylesheets/main-grid.css')

include util.pug
block content
  div.grid-container

    .featured-article
      .main-article-container
        img(src= featured.image).main-article-image
      .main-article-box
        .freshly-salted Freshly Salted
        .title-author-container
          a(href=`/articles/${featured.id}`).article-title #{featured.title}
          .salt-icon-container
            p.salt-counter-number #{featured.Salts.length}
            img(src="./images/SaltIcon.png", style={'max-width': '50%','max-height': '50%'})
        .art-summary #{featured.content}
        a(href=`/articles/${featured.id}`): p Read More

    .sidebar-container
      h1 #SuperSalty
      .sidebar
        each randomArticle in randomArticles
          +sidebar(randomArticle.title, randomArticle.image, randomArticle.id, randomArticle.Salts)

    .latest
      each latestArticle in latestArticles
          +sidebar(latestArticle.title, latestArticle.image, latestArticle.id, latestArticle.Salts)
