mixin article(title, image, id)
  div.article-wrapper
    h4= title
  div
    img(src=image)
  img.articles-title(src=image)
  //- Need Interpolation Here
  a(href="id"): div.articles-titles= title
//- #{article.title}

mixin validationErrors(errors)
  if errors
    div(class='alert-the-error' role='alert')
      //- This doesn't list errors on my local test. Changed the copy... please fix if you think this is wrong. 
      p An error occurred. Please enter a correct username/password combination.
      ul
        each error in errors
          li= error


mixin sidebar(title, image, id)
  .sidebar-article
            img.sidebar-article-image(src=image, alt="")
            div
              .sidebar-article-title= title
              .sidebar-article-title salt #


mixin latest(title, image, id)
  .latest-article
        img.latest-article-image(src=image, alt="")
        div
        .latest-article-title= title
          .sidebar-article-title salt #