mixin article(title, image)
  div.article-wrapper
    h4= title
  div
    img(src=image)


mixin validationErrors(errors)
  if errors
    div(class='alert-the-error' role='alert')
      p The following error(s) occurred:
      ul
        each error in errors
          li= error


mixin sidebar(image, title)
  .sidebar-article
            img.sidebar-article-image(src=image, alt="")
            div
              .sidebar-article-title= title
              .sidebar-article-title salt #


